# Frontend directory
build/

# CTFd saved data (credentials, challenges list/details with flags)
data/

# CTFd cached data (images, files)
cache/

# NodeJS modules
node_modules/

# Windows PE binary
ctfd-helper.exe

# Test on a local CTFd
misc/hackropole/
misc/CTFd/
